<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header> 
        <img src="/images/logo-mercado-liebre.svg" alt="logo">
        <nav>
            Lugar para poner barra de búsqueda
        </nav>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis Compras</li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <b>Sección: Basado en tu última visita</b>
            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <div>
                <img src="/images/img" alt="">
                <p>$6770</p>
                <p>40% OFF</p>
                <b>Cafetera</b>
            </div>
            <div>
                <img src="/images/img" alt="">
                <p>$6770</p>
                <p>40% OFF</p>
            </div>
            <div>
                <img src="/images/img" alt="">
                <p>$6770</p>
                <p>40% OFF</p>
            </div>
            <div>
                <img src="/images/img" alt="">
                <p>$6770</p>
                <p>40% OFF</p>
            </div>
        </section>
    </main>
    <footer> </footer>
</body>
</html>